
@media only screen and (max-width: 1050px){
    /* 修改商品信息的字体大小 */
    h1{
        font-size: 6vw;
    }
    #productDetails h2{
        font-size: 5vw;
    }

    #productDetails p {
        font-size: 4vw; /* 设置商品价格和用途/特性的字体大小为 16px */
    }

/* 修改商品图片的大小 */
    #productDetails img {
        width: 50vw; /* 设置商品图片的宽度为 200px */
        height: auto; /* 让高度根据宽度自动调整，保持纵横比 */
    }
    body{height: auto;}
}
@media only screen and (max-width: 1050px){
    /* 修改商品信息的字体大小 */
    #productDetails h2{
        font-size: 4vw;
    }

    #productDetails p {
        font-size: 3vw; /* 设置商品价格和用途/特性的字体大小为 16px */
    }

/* 修改商品图片的大小 */
    #productDetails img {
        width: 30vw; /* 设置商品图片的宽度为 200px */
        height: auto; /* 让高度根据宽度自动调整，保持纵横比 */
    }
    body{height: auto;}
}